<div ng-show="!showAddDeck">
    <div class="panel panel-default">
        <div class="panel-heading">Chose a Deck</div>
        <table class="table">
            <tbody>
                <tr ng-repeat="deck in decks">
                    <td>{{deck.Title}}</td>
                    <td>{{deck.HighestScore}}%</td>
                    <td><button ng-click="playDeck(deck.Id)">Play</button></td>
                    <td><button ng-click="edit(deck.Id)">Edit</button></td>
                    <td><button ng-click="delete(deck.Id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <button ng-click="showCreateDeck()">Create New Deck</button>
</div>
<div class="field" ng-show="showAddDeck">
    <p class="control has-icons-left">
        <input ng-model="newDeckTitle" class="input" type="text" placeholder="deck title">
        <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
        </span>
    </p>
    <button ng-click="createDeck()">Submit</button>
</div>