<section>
    <div class="panel panel-default">
        <div class="panel-heading">Your Notes</div>
        <table class="table">
            <tbody>
                <tr ng-repeat="note in notes">
                    <td>{{note.Title}}</td>
                    <td>{{note.School.Name}}</td>
                    <td>{{note.EnrolledClass.Name}}</td>
                    <td><button class="btn btn-info" ng-click="goToEditView(note.Id)"><span class="glyphicon glyphicon-file"></span></button></td>
                    <td><button class="btn btn-danger" ng-click="delete(note.Id)"><span class="glyphicon glyphicon-trash"></span></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-success" ng-click="goToCreateNote()">Create Note</button>
</section>