<section>
    <div class="panel panel-default">
        <div class="panel-heading">Your Notes</div>
        <table class="table">
            <tbody>
                <tr ng-repeat="note in notes">
                    <td>{{note.Title}}</td>
                    <td>{{note.School}}</td>
                    <td>{{note.EnrolledClass}}</td>
                    <td><button ng-click="goToEditView(note.Id)">Edit</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <button ng-click="goToCreateNote()">Create Note</button>
</section>